{% load static %}

<!DOCTYPE html>
<html lang="es-cl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'cliente.css' %}">

  <script src="{% static 'responsive.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>

<body>

  <header>
    <a href="{% url 'home' %}"><img class="logo" src="{% static 'img/icon.jpg' %}" alt=""></a>
    <button id="abrir" class="abrir-menu"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ic" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg></button>
    <nav class="nav" id="nav">
      <button class="cerrar-menu" id="cerrar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ic" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg></i></button>

      <ul class="nav-list">

        {% if user.is_authenticated %}
        <div class="usuario">{{ user.username }}</div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-item">Iniciar Sesión</a>
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'gerente' %}" class="navbar-item">Administracion</a>
        {% endif %}

        
      </ul>
    </nav>
  </header>

  {% block content %}
  {% endblock %}


  <footer class="footer">
    <div class="social-icons">
        <a href="#" aria-label="Facebook">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook-new.png" alt="Facebook">
        </a>
        <a href="#" aria-label="Twitter">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter-circled.png" alt="Twitter">
        </a>
        <a href="#" aria-label="Instagram">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram">
        </a>
        
    </div>
    <div class="footer-links">

        <a href="#">Acerca de nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">Contactos</a>
    </div>
    <p>&copy; 2024 VillaArmonia - Todos los derechos reservados.</p>
  </footer>
</body>
</html>